:root {
  --dark-gray: #1f2937;
  --blue: #3882f6;
  --hover-blue: #2c64bd;
  --light-gray: #e5e7eb;
  --off-white: #f9faf8;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#header {
  background-color: var(--dark-gray);
}

li {
  list-style: none;
}
a {
  font-family: Roboto;
  font-size: 18px;
  text-decoration: none;
  color: var(--light-gray);
  margin-left: 20px;
}
a:hover {
  color: var(--hover-blue);
}
#nav-container {
  width: 1010px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 10px;
}
#nav {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#logo {
  color: var(--off-white);
  font-size: 24px;
  font-family: "Tilt Prism", cursive;
}
#container-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
  padding: 100px 0;
}
#bold {
  font-family: "Tilt Prism", cursive;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  /* padding-top: 10px; */
  color: var(--off-white);
}
.thin {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
  padding-top: 10px;
  color: var(--off-white);
}
#menu {
  background-color: var(--blue);
  color: #f9faf8;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 8px;
  border-style: none;
}
#menu:hover {
  background-color: var(--hover-blue);
  cursor: pointer;
}
#intro {
  width: 500px;
  height: 300px;
  padding-right: 10px;
}
img {
  width: 500px;
  height: 300px;
}
#container-two {
  background-color: var(--off-white);
  height: 500px;
}
#title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  padding: 40px 0px;
}
#dessert-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1010px;
  margin: auto;
  gap: 30px;
}

#dessert-one {
  width: 200px;
  height: 200px;
  border: 3px solid var(--blue);
  border-radius: 8px;
  object-fit: cover;
}
#dessert-two {
  width: 200px;
  height: 200px;
  border: 3px solid var(--blue);
  border-radius: 8px;
  object-fit: cover;
}
#dessert-three {
  width: 200px;
  height: 200px;
  border: 3px solid var(--blue);
  border-radius: 8px;
  object-fit: cover;
}
#dessert-four {
  width: 200px;
  height: 200px;
  border: 3px solid var(--blue);
  border-radius: 8px;
  object-fit: cover;
}
#caption-one,
#caption-two,
#caption-three,
#caption-four {
  width: 206px;
  height: 206px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}
#review-container {
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
}
#review {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  width: 900px;
  padding: 25px 0;
}
#customer {
  float: right;
}
#signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--off-white);
  height: 300px;
}

#call-action {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 1010px;
  height: 100px;
  gap: 50px;
  background-color: var(--blue);
  color: #f9faf8;
}
#upcoming {
  font-family: Roboto;
  font-size: 18px;
}
#sign-up {
  background-color: var(--blue);
  color: #f9faf8;
  padding: 5px 20px;
  border-radius: 8px;
  border: 1px solid var(--off-white);
}
#sign-up:hover {
  background-color: var(--hover-blue);
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-gray);
  height: 75px;
}
#footer {
  color: var(--off-white);
  font-family: Roboto;
  font-size: 18px;
}
