:root {
  --dark-gray: #1f2937;
  --blue: #3882f6;
  --hover-blue: #2c64bd;
  --light-gray: #e5e7eb;
  --off-white: #f9faf8;
}
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#header {
  background-color: var(--dark-gray);
}

li {
  list-style: none;
}
a {
  font-family: Roboto;
  font-size: 18px;
  text-decoration: none;
  color: var(--light-gray);
  margin-left: 20px;
}
a:hover {
  color: var(--hover-blue);
}
#nav-container {
  width: 1010px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 10px;
}
#nav {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#logo {
  color: var(--off-white);
  font-size: 24px;
  font-family: "Tilt Prism", cursive;
}
